h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.navbar {
	background-color: #777;
}

.content {
	background-color: #777;
	padding: 20px;
	margin-bottom: 20px;
	height: 700px;
	overflow: auto;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
